*{
margin: 2;
padding: 0;


}

.cl{

width: 120px;


}
div img{

    width: 120px;



}
h2 #ab p{

color: brown;


}
#aa p .bb{

width: 250px;
border-radius: 50px;


}
li{
float: left;
list-style-type: none;
width: 300px;
line-height: 50px;
text-align: center;
background-color: #1B1464;
color: #B33771;
border-radius: 30px;

}
li a{
color: #A3CB38;
text-decoration: none;


}

ul li ul li a{

color: #2c3e50;



}
li li{

background-color: #A3CB38;

}
li ul{

display: none;

}
li:hover{
background-color: #8e44ad;

}
li:hover ul{

display: block;

}
