.op{

margin: 300px;
transition: all 5s;
}

.o{

width: 300px;
height: 150px;
background-color: #B33771;
transition: all 2s;
}



.y{

width: 100px;
height: 50px;
background-color: #FD7272;
transition: all 3s;

}


.ko{


width: 300px;
height: 50px;
background-color: #182C61;
transition: all 2s;
margin: 100px;

}


.x{
width: 300px;
height: 50px;
background-color: #25CCF7;
transition: all 2s;
margin: 100px;

}


.yy{
width: 300px;
height: 50px;
background-color: #25CCF7;
transition: all 2s;
margin: 200px;

}




.z{
width: 300px;
height: 50px;
background-color: #25CCF7;
transition: all 2s;
margin: 100px;

}


.co{

width: 300px;
height: 200px;
background-color: #2C3A47;
box-shadow: 10px 10px 10px;
transition: all 3s;
margin: 100px;
}







.op:hover{


transform: rotate(358deg);


}


.o:hover{

transform: translate(100px,200px);



}


.y:hover{

transform: translateY(1000px);



}
.ko:hover{

transform: scale(0.5,0.5)



}



.x:hover{

transform: scaleX(1.5);

}


.yy:hover{

transform: scaleY(1.5);

}



.z:hover{

transform: scaleZ(1.5);

}


.co:hover{

transform:skew(20deg,20deg);


}
